<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>乒乓球交互界面</title>

<style>
body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}
</style>

</head>

<body>

<canvas id="myCanvas"></canvas>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function requestFullscreen() {
        const el = document.documentElement;

        if (el.requestFullscreen) {
            el.requestFullscreen();
        } else if (el.mozRequestFullScreen) { // Firefox
            el.mozRequestFullScreen();
        } else if (el.webkitRequestFullscreen) { // Chrome, Safari and Opera
            el.webkitRequestFullscreen();
        } else if (el.msRequestFullscreen) { // IE/Edge
            el.msRequestFullscreen();
        }
    }

    $(document).ready(function () {

        $('body').on('click', function() {
            requestFullscreen();
        });

        let canvas = document.getElementById("myCanvas");
        let ctx = canvas.getContext("2d");

        function resizeCanvas() {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }

        window.addEventListener("resize", resizeCanvas);
        resizeCanvas();


        setInterval(function () {
            $.getJSON("/get_coordinates/", function (data) {
                let pointX = canvas.width / 2 + data.x;  // 修改了此处
                let pointY = canvas.height / 2 - data.y;  // 修改了此处

                ctx.clearRect(0, 0, canvas.width, canvas.height);

                ctx.fillStyle = "black";

                // 绘制四边形
                ctx.beginPath();
                ctx.moveTo(canvas.width / 2 + data.cor1x, canvas.height / 2 - data.cor1y);  // 修改了此处
                ctx.lineTo(canvas.width / 2 + data.cor2x, canvas.height / 2 - data.cor2y);  // 修改了此处
                ctx.lineTo(canvas.width / 2 + data.cor3x, canvas.height / 2 - data.cor3y);  // 修改了此处
                ctx.lineTo(canvas.width / 2 + data.cor4x, canvas.height / 2 - data.cor4y);  // 修改了此处
                ctx.closePath();
                ctx.fill();

                ctx.strokeStyle = "white";
                ctx.lineWidth = 2;

                // 绘制四边形边框
                ctx.beginPath();
                ctx.moveTo(canvas.width / 2 + data.cor1x, canvas.height / 2 - data.cor1y);  // 修改了此处
                ctx.lineTo(canvas.width / 2 + data.cor2x, canvas.height / 2 - data.cor2y);  // 修改了此处
                ctx.lineTo(canvas.width / 2 + data.cor3x, canvas.height / 2 - data.cor3y);  // 修改了此处
                ctx.lineTo(canvas.width / 2 + data.cor4x, canvas.height / 2 - data.cor4y);  // 修改了此处
                ctx.closePath();
                ctx.stroke();

                // 绘制乒乓球的位置
                ctx.fillStyle = "white";
                ctx.beginPath();
                ctx.arc(pointX, pointY, 5, 0, 2 * Math.PI);
                ctx.fill();
            });


        }, 1000);
    });
</script>

</body>

</html>

